.friend_list {
  width: 600px;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  border-spacing: 0;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  list-style: none;
}
.item {
  border: 1px dotted black;
  display: flex;
  border-radius: 10px;

  align-items: center;
  padding: 10px;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
