.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px dotted black;
  margin-right: 20px;
}
.name {
  margin: 0;
}
.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
}
.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}
